@charset "UTF-8";
@import "../../bootstrap/less/variables.less";
.grid-result-stat {
   // color: #999;
   font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    //float: right;
    position:absolute;
    right:103px;
    padding-top: 10px;
    display: inline-block;
}

.flexigrid div.hDiv th div{
   position: relative; 
   span{
          //right: 20px; 
          position: absolute;
    }
  
}


.grid-result-pager{
     position:absolute;
     right:0px;
}