/* CSS crunched with Crunch - http://crunchapp.net/ */
label.valid{width:20px;height:20px;background:url(../img/valid.png) center center no-repeat;display:inline-block;text-indent:-9999px;margin-bottom:0px;}
label.error{display:inline-block;font-weight:bold;color:red;padding-left:8px;}
.control-group.error .help-block{color:#555;}
