/* CSS crunched with Crunch - http://crunchapp.net/ */
.query-form-display{display:inline;position:absolute;}
.query-container .query-input .query-trigger{position:absolute;opacity:.6;height:28px;width:24px;cursor:pointer;right:-25px;}.query-container .query-input .query-trigger:hover{opacity:.9;}
