/* CSS crunched with Crunch - http://crunchapp.net/ */
#jPopover.popover{width:400px;}#jPopover.popover .popover-content p{width:50%;display:inline-block;float:left;}#jPopover.popover .popover-content p span{width:50%;display:inline-block;overflow:hidden;text-align:left;text-overflow:ellipsis;}
