/* CSS crunched with Crunch - http://crunchapp.net/ */
#jPopover.popover{width:400px;}#jPopover.popover .popover-content p{width:50%;display:inline;float:left;}#jPopover.popover .popover-content p span{width:50%;display:inline;overflow:hidden;text-align:left;text-overflow:ellipsis;}
#jPopover.popover.right .arrow{top:28px;}
