/* CSS crunched with Crunch - http://crunchapp.net/ */
@charset "UTF-8";
.icon-check-empty,.icon-check{font-size:20px;color:#959595;cursor:pointer;}
i.icon-check{color:#6f6f6f;}
.grid{display:none;font-size:13px;}
td a.cmd{padding:2px 3px;}
.grid-result-stat{font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;float:right;padding-top:10px;display:inline-block;}
.grid-result-pager{float:right;}
.flexigrid{position:relative;border:0px solid #eee;}.flexigrid .pagination{margin:0;text-align:right;}
.flexigrid.hideBody{height:26px !important;border-bottom:1px solid #ccc;}
.ie6fullwidthbug{padding-right:2px;}
.flexigrid div.nDiv{background:#fff ;border:1px solid #ccc;border-top:0px;overflow:auto;left:0px;position:absolute;z-index:999;float:left;}
.flexigrid div.nDiv table{margin:2px;width:99%;}
.flexigrid div.hDivBox{float:left;padding-right:40px;}
.flexigrid div.bDiv table{margin-bottom:10px;}
.flexigrid div.bDiv table.autoht{border-bottom:0px;margin-bottom:0px;}
.flexigrid div.nDiv td{padding:2px 1px;cursor:default;}
.flexigrid div.nDiv tr:hover td,.flexigrid div.nDiv tr.ndcolover td{background:#d5effc;}
.flexigrid div.nDiv td.ndcol2{padding-right:10px;}
.flexigrid div.nBtn{position:absolute;height:24px;width:14px;z-index:900;border-left:1px solid #ccc;border-right:1px solid #ccc;top:0px;left:0px;margin-top:1px;cursor:pointer;display:none;}
.flexigrid div.nBtn div{height:24px;width:12px;float:left;background:url(../img/ddn.png) no-repeat center;}
.flexigrid div.mDiv{font-weight:bold;display:block;overflow:hidden;white-space:nowrap;position:relative;}
.flexigrid div.mDiv div{padding:6px;white-space:nowrap;}
.flexigrid div.mDiv div.ptogtitle{position:absolute;top:4px;right:3px;padding:0px;height:16px;width:16px;overflow:hidden;border:1px solid #ccc;cursor:pointer;}
.flexigrid div.mDiv div.ptogtitle:hover{background-position:left -2px;border-color:#bbb;}
.flexigrid div.mDiv div.ptogtitle span{display:block;border-bottom:1px solid #ddd;width:14px;height:14px;background:url(../img/uup.png) no-repeat center;}
.flexigrid div.mDiv div.ptogtitle.vsble span{background:url(../img/ddn.png) no-repeat center;}
.flexigrid div.tDiv{display:none;position:relative;overflow:hidden;}
.flexigrid div.tDiv2{float:left;clear:both;padding:1px;}
.flexigrid div.sDiv{background:#fafafa url(../img/bg.gif) repeat-x top;position:relative;overflow:hidden;display:none;}
.flexigrid div.sDiv2{float:left;clear:both;padding:5px;padding-left:5px;width:1024px;}
.flexigrid div.sDiv2 input,.flexigrid div.sDiv2 select{vertical-align:middle;}
.flexigrid div.btnseparator{float:left;height:22px;border-left:1px solid #ccc;border-right:1px solid #fff;margin:1px;}
.flexigrid div.fbutton{float:left;display:block;cursor:pointer;padding:1px;}
.flexigrid div.fbutton div{float:left;padding:1px 3px;}
.flexigrid div.fbutton span{float:left;display:block;padding:3px;}
.flexigrid div.fbutton:hover,.flexigrid div.fbutton.fbOver{padding:0px;border:1px solid #ccc;}
.flexigrid div.fbutton:hover div,.flexigrid div.fbutton.fbOver div{padding:0px 2px;border-left:1px solid #fff;border-top:1px solid #fff;border-right:1px solid #eee;border-bottom:1px solid #eee;}
.flexigrid div.hDiv{position:relative;border-bottom:1px solid #ccc;font-size:14px;overflow:hidden;}
.flexigrid div.cDrag{float:left;position:absolute;z-index:2;overflow:visible;}
.flexigrid div.cDrag div{float:left;background:none;display:block;position:absolute;height:24px;width:5px;cursor:col-resize;}
.flexigrid div.cDrag div:hover,.flexigrid div.cDrag div.dragging{background:url(../img/line.gif) repeat-y 2px center;}
.flexigrid div.iDiv{position:absolute;overflow:visible;background:none;}
.flexigrid div.iDiv input,.flexigrid div.iDiv select,.flexigrid div.iDiv textarea{font-family:Arial,Helvetica,sans-serif;font-size:11px;}
.flexigrid div.iDiv input.tb{border:0px;padding:0px;width:100%;height:100%;padding:0px;background:none;}
.flexigrid div.bDiv{background:#fff;overflow:auto;position:relative;}
.flexigrid div.hGrip{position:absolute;top:0px;right:0px;height:5px;width:5px;background:url(../img/line.gif) repeat-x center;margin-right:1px;cursor:col-resize;}
.flexigrid div.hGrip:hover,.flexigrid div.hGrip.hgOver{margin-right:0px;}
.flexigrid div.vGrip{height:5px;overflow:hidden;position:relative;background:#fafafa url(../img/wbg.gif) repeat-x 0px -1px;text-align:center;cursor:row-resize;}
.flexigrid div.vGrip span{display:block;margin:1px auto;width:20px;height:1px;overflow:hidden;background:none;}
.flexigrid div.hDiv th,.flexigrid div.bDiv td{text-align:center;overflow:hidden;vertical-align:top !important;padding-left:0;padding-right:0;}
.flexigrid div.hDiv th div,.flexigrid div.bDiv td div,div.colCopy div{padding:5px 15px 5px 5px;}
.flexigrid div.hDiv th,div.colCopy{height:24px;cursor:pointer;white-space:nowrap;overflow:hidden;}
div.colCopy{overflow:hidden;}
.flexigrid div.hDiv th.thOver div,.flexigrid div.hDiv th.sorted.thOver div{border-bottom:1px solid orange;padding-bottom:4px;}
.flexigrid div.hDiv th.sorted div{color:orangeRed;padding-bottom:5px;}
.flexigrid div.hDiv th.thMove{background:#fff;color:#fff;}
.flexigrid div.hDiv th.sorted.thMove div{padding-bottom:4px;}
.flexigrid div.hDiv th.thMove div{background:#fff !important;}
.flexigrid div.hDiv th div.sdesc span{background:url(../img/dn.png) no-repeat center center;}
.flexigrid div.hDiv th div.sasc span{background:url(../img/up.png) no-repeat center center;}
.flexigrid div.hDiv th div span{padding:2px 18px 0px 0px;}
.flexigrid div.bDiv td,.flexigrid div.bDiv th{border-bottom:1px solid #ccc;white-space:nowrap;}
.flexigrid span.cdropleft{display:block;background:url(../img/prev.gif) no-repeat -4px center;width:24px;height:24px;position:relative;top:-24px;margin-bottom:-24px;z-index:3;}
.flexigrid div.hDiv span.cdropright{display:block;background:url(../img/next.gif) no-repeat 12px center;width:24px;height:24px;float:right;position:relative;top:-24px;margin-bottom:-24px;}
.flexigrid div.bDiv td div{overflow:hidden;text-overflow:ellipsis;padding-bottom:4px;}
.flexigrid tr.erow td{background:#f7f7f7;border-bottom:1px solid #ccc;}
.flexigrid div.bDiv tr:hover td,.flexigrid div.bDiv tr:hover td,.flexigrid div.bDiv tr.trOver td,.flexigrid div.bDiv tr.trOver td,.flexigrid div.bDiv tr:hover th,.flexigrid div.bDiv tr:hover th,.flexigrid div.bDiv tr.trOver th,.flexigrid div.bDiv tr.trOver th{background:#d9ebf5;}
.flexigrid div.bDiv tr.trSelected:hover td,.flexigrid div.bDiv tr.trOver.trSelected td,.flexigrid div.bDiv tr.trOver.trSelected td,.flexigrid tr.trSelected td,.flexigrid tr.trSelected td,.flexigrid div.bDiv tr.trSelected:hover th,.flexigrid div.bDiv tr.trOver.trSelected th,.flexigrid div.bDiv tr.trOver.trSelected th,.flexigrid tr.trSelected th,.flexigrid tr.trSelected th{background:#d9ebf5;}
.flexigrid div.pDiv{overflow:hidden;white-space:nowrap;position:relative;}
.flexigrid div.pDiv div.pDiv2{display:none;margin:2px 2px 2px 0px;float:left;}
div.pGroup{float:left;background:none;height:24px;margin:0px 5px;}
.flexigrid div.pDiv .pPageStat,.flexigrid div.pDiv .pcontrol{position:relative;top:5px;overflow:visible;}
.flexigrid div.pDiv input{vertical-align:text-top;position:relative;top:-6px;width:30px;height:14px;}
.flexigrid div.pDiv div.pButton{float:left;width:22px;height:22px;border:0px;cursor:pointer;overflow:hidden;}
.flexigrid div.pDiv div.pButton:hover,.flexigrid div.pDiv div.pButton.pBtnOver{width:20px;height:20px;border:1px solid #ccc;cursor:pointer;}
.flexigrid div.pDiv div.pButton span{width:20px;height:20px;display:block;float:left;}
.flexigrid div.pDiv div.pButton:hover span,.flexigrid div.pDiv div.pButton.pBtnOver span{width:19px;height:19px;}
.flexigrid .pSearch{background:url(../img/magnifier.png) no-repeat center;}
.flexigrid .pFirst{background:url(../img/first.gif) no-repeat center;}
.flexigrid .pPrev{background:url(../img/prev.gif) no-repeat center;}
.flexigrid .pNext{background:url(../img/next.gif) no-repeat center;}
.flexigrid .pLast{background:url(../img/last.gif) no-repeat center;}
.flexigrid .pReload{background:url(../img/load.png) no-repeat center;}
.flexigrid .pReload.loading{background:url(../img/load.gif) no-repeat center;}
.flexigrid.ie div.hDiv th div,.flexigrid.ie div.bDiv td div,div.colCopy.ie div{overflow:hidden;}
.flexigrid .page-select{width:60px;height:24px;margin-top:0px;}
.flexigrid td.cth,.flexigrid th.cth{width:22px;}
