/* CSS crunched with Crunch - http://crunchapp.net/ */
.query-form-display{display:inline;position:absolute;}
.query-container{height:27px;}
.query-container .query-input .query-clear{right:12px;top:4px;}
.query-container .query-input input{height:18px;}
.query-container .query-params .query-item{height:24px;}
.query-container .query-input .query-trigger{z-index:10;position:absolute;opacity:.9;height:32px;width:24px;cursor:pointer;right:-10px;}.query-container .query-input .query-trigger:hover{opacity:1;}
