/* CSS crunched with Crunch - http://crunchapp.net/ */
ul.list{list-style:none;font-size:100%;}ul.list li{display:inline;padding-right:20px;}ul.list li a{font-weight:bold;}
ul.list li .li-remove{padding-left:3px;cursor:pointer;}
.nav-container{padding-bottom:5px;}
