/* CSS crunched with Crunch - http://crunchapp.net/ */
.navbar{font-weight:bold;font-size:14px;}
.navbar .navbar-inner{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.navbar .dropdown-menu{font-size:13px;}
